@charset "UTF-8";
*{
	margin : 0;
	padding: 0;
}

body {
	text-align: center;
}

.join_form{
	display: flex;
	flex-direction: column;
}

.member_infor{
	display: flex;
	flex-direction: column;
}

.personal_infor{
	display: flex;
	flex-direction: column;
}



.telecom_drop_btn{
	width : 250px;
	dispaly : block;
	text-align: left;
	cursor : pointer;
	z-index : 1;
	position: relative;
}

.telecom_company_content{
	display : none;
	 background-color: #fcfcfc;
  min-width : 240px;
  border-radius: 8px;
  height : 160px;
}

.telecom_category{
	display: flex;
	flex-direction: row;
	gap: 5px;
}

telecom_company_content div{
	display : block;
}

.telecom_company_content.show{
	display : block;
}

